* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--terceira-cor);
}
main {
    height: 70vh;
    width: 30vw;
    background-color: var(--primary-color);
    border-radius: var(--borda-card);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--terceira-cor);
}
h1 {
    margin-bottom: 10%;
}
article {
    width: 90%;
    height: 80%;
    text-align: center;
}

section{
    width: 100%;
    height: 40%;
}

input {
    border-radius:var(--borda-input);
    border: none;
    margin-top: 2%;
    margin-left: 2%;
    width: 60%;
    height: 3vh;
}

button {
    width: 25%;
    height: 15%;
    cursor: pointer;
    margin-top: 10%;
    border-radius: var(--borda-botao);
    border: none;

}